<app-preloader/>
<body class="bg-white">

<div class="container-fluid content-container" id="main-content">
  <div class="row ">
    <div class="col-md-4 mx-auto mt-5"> <form method="post" class="form-container"> 
      <div class="login-header text-center" style="position: relative;">
          <img src="/assets/img/login.png" width="120" height="120" alt="Usuario" class="rounded-circle logo" style="margin-top: -80px;"> <h1 class="text-center">Iniciar Sesión</h1> </div>
      
        <div class="text-align center mb-2 col-md-11 mx-auto mt-3">
          
          <div class="form-group mb-10 bg-none mt-2">
            <input type="text" class="form-control transparent-input" id="username" name="username" placeholder="" required>
            <label for="username" class="floating-label">Nombre de Usuario:</label>
          </div>
          
          <div class="form-group">
            <input type="password" class="form-control transparent-input" name="password" id="id_password" placeholder="" required>
            <label for="id_password" class="floating-label">Contraseña:</label>
          </div>

          <div class="d-flex justify-content-center"> <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
          </div>
  
        </div>


        
        
      </form>
    </div>
  </div>
</div>
</body>

