<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="keywords" content="Site keywords here">
        <meta name="description" content="">
        <meta name='copyright' content=''>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    </head>
    <body>
    
        
		<!-- Slider Area -->
		<section class="slider">
			<div class="hero-slider">
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('/assets/img/carrusel_smith3.png')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Optimiza el <span> rendimiento </span> por medio de las diferentes <span>Estrategias!</span></h1>
									<p>Mentales que ofrece el coaching deportivo. </p>
									<div class="button">
										<a href="#" class="btn">Obtener Servicios</a>
										<a href="#" class="btn primary">Leer más</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('/assets/img/carrusel_coach2.png')">
					<div class="container">
						<div class="row">
							<div class="col-lg-6">
								<div class="text">
									<h1>¡Ofrecemos Servicios de Alta <span>Calidad</span>  en los que puedes <span>Confiar!</span></h1>
									<div class="button">
										<a href="#" class="btn">Obtener Servicios</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="single-slider" style="background-image:url('/assets/img/carrusel_smith2.png')">
					<div class="container">
						<div class="row">
							<div style="height: 200px;" class="col-lg-7">
								<div class="text">
									<h1 style="margin-top: -20px;">¡Haz tu pedido <span>ahora</span> y siente la diferencia!</h1>
									<div class="button">
										<a href="#" class="btn">Obtener Servicios</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				

				<div class="single-slider" style="background-image:url('/assets/img/carrusel_coach.png')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1> Recuperación <span>rápida</span>  con nuestros <span>suplementos</span> energéticos</h1>
									<p>No solo te ayudamos a entrenar más duro, sino también a recuperarte mejor. Nuestros suplementos energéticos están diseñados para acelerar tu recuperación y prepararte para la próxima sesión. </p>
									<div class="button">
										<a href="#" class="btn">Obtener Servicios</a>
										<a href="#" class="btn primary">Sobre Nosotros</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="single-slider" style="background-image:url('/assets/img/carrusel_smith.png')">
					<div class="container">
						<div class="row justify-content-end">
							<div class="col-lg-5">
								<div class="text">
									<h1>Contamos con Servicios <span> de nuestra propia marca!</span></h1>
									<p>Contamos con nuestra propia linea de suplementos con la mejor calidad para ti.</p>
									<div class="button">
										<a href="#" class="btn">Obtener Servicios</a>
										<a href="#" class="btn primary">Sobre Nosotros</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="single-slider" style="background-image:url('/assets/img/carrusel_coaching_publicidad.png')">
					<div class="container">
						<div class="row">
							<div class="col-lg-5">
								<div class="text">
									<br>
									<br>
									<br>
									<br>
									<br>
									<p style="color: white;">El abordaje correcto de los estados emocionales y un programa linguistico mas consciente son la base fundamental para la toma de decisiones y el deporte en general son tus decisiones las que marcan la diferencia. Conocer los mecanismos básicos de como cómo funciona la mente es la clave para optimizar tu rendimiento deportivo.</p>
									<div class="button">
										<a href="#" class="btn">Obtener Servicios</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="single-slider" style="background-image:url('/assets/img/planJunior.png')">
					<div class="container">
						<div class="row justify-content-end">
							<div class="col-lg-5">
								<div class="text">
									<h1>Plan Junior</h1>
									<p>Deseas que tú hijo e hija adquiera habilidades y destrezas para un desempeño óptimo en los entrenamientos y competencias?</p>
									<p>10 sesiones de coaching deportivo más sesiones de control y seguimiento y el acompañamiento durante todo el año.</p>
									<div class="button">
										<a href="#" class="btn">Obtener Servicios</a>
										<a href="#" class="btn primary">Más Planes</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				
				<!-- Start End Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('/assets/img/fotos_carrusel_coaching.png')">
					<div class="container">
						<div class="row">
							<div class="col-lg-4">
								<div class="text">
									<h1>Rendimiento <span> óptimo</span> en cada entrenamiento</h1>
									<p>Alcanza tus metas fitness con nuestros suplementos energéticos. Diseñados para maximizar tu rendimiento y ayudarte a superar tus límites. </p>
									<div class="button">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
			</div>
		</section>
		<!--/ End Slider Area -->
		
		<br>
		<br>

		<section class="Feautes section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Quieres conocer nuestros suplementos</h2>
							
							<p> Son productos que se utilizan para complementar la alimentación de deportistas o personas físicamente activas. Su objetivo principal es mejorar el rendimiento físico, acelerar la recuperación después del ejercicio o cubrir necesidades nutricionales específicas que una dieta regular podría no satisfacer.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<i class="icofont icofont-gym-alt-2"></i>
							</div>
							<h3>Pre-Entreno</h3>
							<p>Es un suplemento alimenticio que se toma antes de entrenar para aumentar la energía, resistencia, concentración y rendimiento deportivo.</p>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<i class="icofont icofont-hand-power"></i>
							</div>
							<h3>Creatina</h3>
							<p>La creatina es uno de los suplementos más investigados y efectivos para aumentar la fuerza y el rendimiento en el gimnasio.</p>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features last">
							<div class="signle-icon">
								<i class="icofont icofont-muscle"></i>
							</div>
							<h3>Proteina</h3>
							<p>Las proteínas son esenciales para la recuperación y el crecimiento muscular.</p>
						</div>
						<!-- End Single features -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Feautes -->
		
		<!-- Start Fun-facts -->
		<div id="fun-facts" class="fun-facts section overlay">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont icofont-home"></i>
							<div class="content">
								<span class="counter">3</span>
								<p>Sucursales</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont icofont-shopping-cart"></i>
							<div class="content">
								<span class="counter">100</span>
								<p>Productos</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont-simple-smile"></i>
							<div class="content">
								<span class="counter">122</span>
								<p>Clientes Felices</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont icofont-table"></i>
							<div class="content">
								<span class="counter">5</span>
								<p>Años de Experiencia</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
				</div>
			</div>
		</div>
		<!--/ End Fun-facts -->
		
		
		<!-- Start Call to action -->
		<section class="call-action overlay" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="content">
							<h2>¿Tienes preguntas o necesitas asesoramiento personalizado? </h2>
							<p>¡Estamos aquí para ayudarte! Contáctanos a través de nuestro formulario de contacto.</p>
							<div class="button">
								<a href="/contactanos" target="_blank" class="btn">Contactanos Ahora</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Call to action -->
		
		<!-- Start portfolio -->
		<section class="portfolio section" >
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Servicios de nuestra Marca</h2>
							
							<p>Descubre nuestra gama de productos y encuentra el suplemento de nuestra Marca perfecto para ti.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12 col-12">
						<div class="owl-carousel portfolio-slider">
							<div class="single-pf">
								<img  src="/assets/img/flayer1.jpg" alt="#" > <img>
								<a src="/assets/img/flayer1.jpg" class="btn" (click)="verDetalles('/assets/img/flayer1.jpg'); $event.preventDefault();">Ver Detalles</a>
							</div>
							<div class="single-pf">
								<img  src="/assets/img/flayer2.jpg" alt="#" > <img>
								<a src="/assets/img/flayer2.jpg" class="btn" (click)="verDetalles('/assets/img/flayer2.jpg'); $event.preventDefault();">Ver Detalles</a>
							</div>
							<div class="single-pf">
								<img  src="/assets/img/flayer3.jpg" alt="#" > <img>
								<a src="/assets/img/flayer3.jpg" class="btn" (click)="verDetalles('/assets/img/flayer3.jpg'); $event.preventDefault();">Ver Detalles</a>
							</div>
							<div class="single-pf">
								<img  src="/assets/img/flayer4.jpg" alt="#" > <img>
								<a src="/assets/img/flayer4.jpg" class="btn" (click)="verDetalles('/assets/img/flayer4.jpg'); $event.preventDefault();">Ver Detalles</a>
							</div>
							<div class="single-pf">
								<img  src="/assets/img/flayer5.jpg" alt="#" > <img>
								<a src="/assets/img/flayer5.jpg" class="btn" (click)="verDetalles('/assets/img/flayer5.jpg'); $event.preventDefault();">Ver Detalles</a>
							</div>
							
							<!-- Modal -->
							<div *ngIf="isModalVisible" id="modal" style="display: flex; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); justify-content: center; align-items: center; z-index: 9999;">
								<span (click)="cerrarModal()" style="color: white; cursor: pointer; position: absolute; top: 20px; right: 30px;">Cerrar X</span>
								<img [src]="modalImage" style="max-width: 90%; max-height: 90%;" />
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="services section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Beneficios de Recibir Coaching Deportivo</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-plus-circle"></i>
							<h4><a href="#">Mejora del rendimiento</a></h4>
							<p>Un coach deportivo puede identificar áreas de mejora y proporcionar estrategias específicas para maximizar el rendimiento en el deporte.</p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-swoosh-down"></i>
							<h4><a href="#">Motivación y apoyo</a></h4>
							<p>Tener un coach que te anime y te apoye puede aumentar significativamente tu motivación, ayudándote a mantenerte enfocado y comprometido con tus objetivos. </p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-heart-alt"></i>
							<h4><a href="#">Desarrollo de habilidades</a></h4>
							<p>Los coaches deportivos te enseñan técnicas y habilidades que son cruciales para el éxito en tu deporte. Este aprendizaje puede marcar una gran diferencia en tu rendimiento. </p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-gym"></i>
							<h4><a href="#">Prevención de lesiones</a></h4>
							<p>Un coach experimentado puede enseñarte la forma y las técnicas correctas para minimizar el riesgo de lesiones, lo cual es esencial para una carrera deportiva prolongada y saludable. </p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-muscle-weight"></i>
							<h4><a href="#">Mejora de la confianza</a></h4>
							<p>Contar con el respaldo de un coach puede aumentar tu confianza en tus habilidades y en tu capacidad para alcanzar tus metas, tanto dentro como fuera del campo.</p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-thunder-light"></i>
							<h4><a href="#">Planificación estratégica</a></h4>
							<p>Los coaches te ayudan a establecer metas realistas y a trazar un plan detallado para alcanzarlas. Esto puede incluir la periodización del entrenamiento y la gestión del tiempo para equilibrar entrenamientos, competiciones y descanso. </p>	
						</div>
						<!-- End Single Service -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End service -->
		
		<!-- Pricing Table -->
		<section class="pricing-table section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Nuestros planes de Coaching	</h2>
							
						</div>
					</div>
				</div>
				<div class="row">
					<!-- Single Table -->
					<div class="col-lg-4 col-md-12 col-12">
						<div class="single-table">
							<!-- Table Head -->
							<div class="table-head">
								<div class="icon">
									<img src="/assets/img/1.png" alt="Descripción de la Imagen" style="width:250px; height:auto;">
								</div>								
								<h4 class="title">Junior</h4>
								<div class="price">
									<p class="amount">$35<span>/ Hasta $100</span></p>
								</div>	
							</div>
							<!-- Table List -->
							<ul class="table-list">
								<li><i class="icofont icofont-ui-check"></i>Alta Calidad y Pureza</li>
								<li><i class="icofont icofont-ui-check"></i>Fácil Digestión</li>
								<li><i class="icofont icofont-ui-check"></i>Rápida Absorción</li>
								<li><i class="icofont icofont-ui-check"></i>Amplia variedad de Sabores</li>
							</ul>
							<div class="table-bottom">
								<a class="btn" href="#">Comprar</a>
							</div>
							<!-- Table Bottom -->
						</div>
					</div>
					<!-- End Single Table-->
					<!-- Single Table -->
					<div class="col-lg-4 col-md-12 col-12">
						<div class="single-table">
							<!-- Table Head -->
							<div class="table-head">
								<div class="icon">
									<img src="/assets/img/creatinas.png" alt="Descripción de la Imagen" style="width:250px; height:auto;">
								</div>		
								<h4 class="title">Dorado Elite</h4>
								<div class="price">
									<p class="amount">$25<span>/ $90</span></p>
								</div>	
							</div>
							<!-- Table List -->
							<ul class="table-list">
								<li><i class="icofont icofont-ui-check"></i>Mejora del Rendimiento Deportivo</li>
								<li><i class="icofont icofont-ui-check"></i>Fácil de Mezclar</li>
								<li><i class="icofont icofont-ui-check"></i>Certificación de Calidad</li>
								<li><i class="icofont icofont-ui-check"></i>Apoyo a la Recuperación Muscular</li>
								</ul>
							<div class="table-bottom">
								<a class="btn" href="#">Comprar</a>
							</div>
							<!-- Table Bottom -->
						</div>
					</div>
					<!-- End Single Table-->
					<!-- Single Table -->
					<div class="col-lg-4 col-md-12 col-12">
						<div class="single-table">
							<!-- Table Head -->
							<div class="table-head">
								<div class="icon">
									<img src="/assets/img/pre-entrenos.png" alt="Descripción de la Imagen" style="width:250px; height:auto;">
								</div>		
								<h4 class="title">Premium</h4>
								<div class="price">
									<p class="amount">$45<span>/ $120</span></p>
								</div>	
							</div>
							<!-- Table List -->
							<ul class="table-list">
								<li><i class="icofont icofont-ui-check"></i>Energía Instantánea</li>
								<li><i class="icofont icofont-ui-check"></i>Mejora del Enfoque Mental</li>
								<li><i class="icofont icofont-ui-check"></i>Aumento de la Resistencia</li>
								<li><i class="icofont icofont-ui-check"></i>Fórmulas Sin Estimulantes</li>
							</ul>
							
							<div class="table-bottom">
								<a class="btn" href="#">Comprar</a>
							</div>
							<!-- Table Bottom -->
						</div>
					</div>
					<!-- End Single Table-->
				</div>	
			</div>	
		</section>	
		<!--/ End Pricing Table -->
		
		
		<!-- Start clients -->
		<div class="clients overlay">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="owl-carousel clients-slider">
							<div class="single-clients">
								<img src="/assets/img/client1.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="/assets/img/client3.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="/assets/img/client4.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="/assets/img/client5.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="/assets/img/client1.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="/assets/img/client2.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="/assets/img/client3.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="/assets/img/client4.png" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/Ens clients -->
		
		

		<script>
			
		
		</script>
    </body>
</html>