.certifications {
    background-color: #ffffff;
    padding: 50px 0;
}

.certifications .section-title {
    margin-bottom: 30px;
}

.certifications .list-group-item {
    font-size: 18px;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}
