<section class="certifications">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2>Afiliaciones del Coach</h2>
                    <p>Estamos orgullosos de contar con afiliaciones y certificaciones de organizaciones reconocidas a nivel nacional e internacional, lo que avala nuestra dedicación al coaching de calidad y a los altos estándares profesionales. Aquí encontrarás las acreditaciones que respaldan nuestra experiencia y compromiso con el crecimiento personal y deportivo.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-group">                    
                    <li class="list-group-item"><strong>Miembro IAC</strong> (International Association of Coaching) <em>N° 72053</em></li>
                    <li class="list-group-item"><strong>Miembro de Federación de Coaching Deportivo</strong> <em>N° 729</em></li>
                    <li class="list-group-item"><strong>Miembro de SOVENCOACHING</strong> (Sociedad Venezolana de Coaching) <em>N° 00423-15036</em></li>
                    <li class="list-group-item"><strong>Miembro de la Confederación Interamericana de Coaching</strong> <em>N° 100102</em></li>
                    <li class="list-group-item"><strong>Miembro de ASOVECODE</strong> (Asociación Venezolana de Coaching Deportivo)</li>
                </ul>
            </div>
        </div>
    </div>
</section>
